<div class="side-profile">
    <div class="profile-header">
        <div class="header-bg"></div>
        <div class="profile-image">
            <span class="initials">K</span>
            <i class="fa fa-check-circle verified-badge"></i>
        </div>
    </div>

    <div class="profile-info">
        <h3>K Senthil Kumar</h3>
        <p>MDS - Periodontology and Oral Implantology, BDS</p>

        <div class="availability">
            <label for="availability">Availability <span class="required">*</span></label>
            <select id="availability">
                <option>I am Available Now</option>
                <option>Busy</option>
                <option>Offline</option>
            </select>
        </div>
        

        <button class="tokens-btn">
            <i class="fa fa-calendar-check"></i> Tokens
        </button>

        <ul class="menu">
            <li><i class="fa fa-calendar"></i> <span class="list">Appointment History</span></li>
            <li><i class="fa fa-file-alt"></i><span class="list">Reports</span> </li>
            <li><i class="fa fa-user-cog"></i> <span class="list">Profile Settings</span></li>
            <li><i class="fa fa-users"></i><span class="list">Social Media</span> </li>
            <li><i class="fa fa-lock"></i><span class="list"> Change Password</span></li>
            <li><i class="fa fa-sign-out-alt"></i> <span class="list">Logout</span></li>
        </ul>
    </div>
</div>
