/* Footer Styling */
@media (min-width: 1024px) {
.w-25{
    width:25% 
}
.w-50{
    width:50%;
}
.d-flex{
    display: flex;
}
.footer-container {
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}
}
.footer-container{
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding: 30px 40px;
}
.footer {
    background-color: #33333308;
    color: black;
    text-align: center;
    font-size: 14px;
}

.footer-section {
    text-align: left; 
}

.footer-section h2,
.footer-section h3 {
    color: #555;
}

.footer-section p {
    margin: 10px 0;
    line-height: 1.5;
}

.footer-section a {
    color: #555;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
.footer-section > .social-icons > a:hover {
    text-decoration: none;
}
.newsletter-form {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.newsletter-form input {
    padding: 10px;
    width: auto;
    border: 1px solid #e9dfdf;
    border-radius: 5px;
    font-size: 16px;
}

.newsletter-form button {
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: -25px;
    border-radius: 5px;
    font-size: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    transition: 0.3sease;
}

.newsletter-form button:hover {
    background-color: #e54b00;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: #ddd;
}
.social-icons i {
    font-size: 20px;
    color: #333;
}


.footer-bottom {
    background-color: #3333330a;
    justify-content: space-between;
    align-items: center;
    color: #7a7a7a;
    padding: 10px 30px;
    font-size: 14px;
}

.footer-links a {
    text-decoration: none;
    color: #7a7a7a;
    margin: 0px 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.contact-info i {
    color: #000;
    font-size: 16px;
}
