<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Doctor Request</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>

    <!-- Header Component -->
    <header class="header">
        <div class="logo">Q<span class="highlight">P</span>O<span class="highlight">B</span>O</div>
        <nav class="nav">
            <ul>
                <li><a href="#">Hospitals</a></li> 
                <span ><i class="fa fa-chevron-down"></i></span>
                <li><a href="#" class="active">Doctors</a></li>
                <span ><i class="fa fa-chevron-down"></i></span>
                <li><a href="#">Who We Are?</a></li>
                <span ><i class="fa fa-chevron-down"></i></span>
            </ul>
        </nav>
        <div class="profile">
            <i class="fa-solid fa-circle-user" style="color: #002D74"></i>
            <span ><i class="fa fa-chevron-down"></i></span>
        </div>
    </header>

    <!-- Page Content -->
    <section class="content">
        <h1>Doctor Request</h1>
        <p>Home / Doctor Request</p>
    </section>

</body>
</html>
