
<div class="header">
    <h2>Today Appointments (5 / 40)</h2>
    <div class="buttons">
        <button class="refresh-btn">
            <i class="fa fa-refresh"></i> Refresh
        </button>
        <button class="today-btn">
            Today <i class="fa fa-chevron-down"></i>
        </button>
    </div>
</div>
<div class="hr" style="border-top: 1px solid #e9dfdf;"></div>
<div class="appointment">
    <div class="user-info">
        <div class="avatar">SA</div>
        <div class="name-section">
            <span class="id mb-5">#487</span>
            <h4 class="name">Sanjai</h4>
        </div>
    </div>

    <div class="details">
        <span class="mb-5"><i class="fa fa-clock"></i> 21-FEB-2025 12:00 PM</span>
        <span>Direct Visit</span>
    </div>


    <div class="actionss">
        <span class="status booked mb-5">Booked</span>
        <div class="buttons">
            <a href="#" class="accept"><i class="fa fa-check"></i> Accept</a>
            <a href="#" class="reject"><i class="fa fa-times"></i> Reject</a>
            <a href="#" class="missed"><i class="fa fa-pause"></i> Missed</a>
            <a href="#" class="start"><i class="fa fa-play"></i> Start Now</a>
        </div>
    </div>



</div>
<div class="appointment-card">
    <div class="common-card">
        <div class="name-section-2">
            <div class="user-name"><i class="fa fa-user"></i> # 487 - <span class="user-name">Sanjai M</span></div>
            <div><i class="fa-solid fa-envelope-circle-check"></i><span style="margin-left: 2px;">sanjaikumar.pobo&#64;gmail.com</span></div>
            <div><i class="fa-solid fa-mobile-button"></i><span>9655770823</span></div>
        </div>

        <div class="appointment-details">
            <div class="date-time"><i class="fa-regular fa-calendar-check"></i><span>21-FEB-2025 12:00 PM</span></div>
            <div class="consultation-type"><i class="fa-brands fa-wpforms"></i><span>Consultation</span></div>
            <div class="visit-type"><i class="fa fa-hospital"></i><span style="margin-left: 6px;">Direct Visit</span> </div>
        </div>

        <div class="status-2">
            <div class="booked-app"><i class="fa-regular fa-bookmark"></i> <span style="color: #007bff; font-weight: bold;">Booked</span></div>
            <div class="booked-app"><i class="fa-solid fa-indian-rupee-sign"></i> <span style="visibility: hidden;">Booked</span></div>
            <div class="payment"><i class="fa-regular fa-circle-check"></i><span>Paid</span> </div>
        </div>
    </div>
        <div class="row">
            <div class="hr" style="border-top: 1px solid #e9dfdf;">
                <div class="actions">
                    <a class="accept-1"><i class="fa fa-check"></i> Accept</a>
                    <a class="reject-1"><i class="fa fa-times"></i> Reject</a>
                    <a class="missed-1"><i class="fa fa-pause"></i> Missed</a>
                    <a class="open-now"><i class="fa fa-play"></i> Open Now</a>
                    <a class="completed"><i class="fa fa-check"></i> Completed</a>
                </div>
            </div>
        </div>
</div>

<div class="appointment">
    <div class="user-info">
        <div class="avatar">JO</div>
        <div class="name-section">
            <span class="id mb-5">#485</span>
            <h4 class="name">Joshva</h4>
        </div>
    </div>

    <div class="details">
        <span class="mb-5"><i class="fa fa-clock"></i> 21-FEB-2025 01:00 PM</span>
        <span>Direct Visit</span>
    </div>


    <div class="actionss">
        <span class="In-progress mb-5">In progress</span>
        <div class="buttons">
            <a href="#" class="accept"><i class="fa fa-check"></i> Accept</a>
            <a href="#" class="reject"><i class="fa fa-times"></i> Reject</a>
            <a href="#" class="missed"><i class="fa fa-pause"></i> Missed</a>
            <a href="#" class="start"><i class="fa fa-play"></i> Start Now</a>
        </div>
    </div>



</div>
<div class="appointment-card">
    <div class="common-card">
        <div class="name-section-2">
            <div class="user-name"><i class="fa fa-user"></i> # 485 - <span class="user-name">Joshva J</span></div>
            <div><i class="fa-solid fa-envelope-circle-check"></i><span style="margin-left: 2px;">joshva.pobo&#64;gmail.com</span></div>
            <div><i class="fa-solid fa-mobile-button"></i><span>9965480147</span></div>
        </div>

        <div class="appointment-details">
            <div class="date-time"><i class="fa-regular fa-calendar-check"></i><span>21-FEB-2025 01:00 PM</span></div>
            <div class="consultation-type"><i class="fa-brands fa-wpforms"></i><span>Consultation</span></div>
            <div class="visit-type"><i class="fa fa-hospital"></i><span style="margin-left: 6px;">Direct Visit</span> </div>
        </div>

        <div class="status-2">
            <div class="booked-app"><i class="fa-regular fa-bookmark"></i> <span style="color: orangered;font-weight:600;">In Progress</span></div>
            <div class="booked-app"><i class="fa-solid fa-indian-rupee-sign"></i> <span style="visibility: hidden;">Booked</span></div>
            <div class="payment"><i class="fa-regular fa-circle-check"></i><span>Paid</span> </div>
        </div>
    </div>
        <div class="row">
            <div class="hr" style="border-top: 1px solid #e9dfdf;">
                <div class="actions">
                    <a class="accept-1"><i class="fa fa-check"></i> Accept</a>
                    <a class="reject-1"><i class="fa fa-times"></i> Reject</a>
                    <a class="missed-1"><i class="fa fa-pause"></i> Missed</a>
                    <a class="open-now"><i class="fa fa-play"></i> Open Now</a>
                    <a class="completed"><i class="fa fa-check"></i> Completed</a>
                </div>
            </div>
        </div>
</div>

